/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $btn-main;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    transition: ease-in;
    transition-duration: .5s;
  }
  
  .default {
    @include btn($secondary);
  }
  
  .error {
    @include btn($error);
  }
  
  .info {
    @include btn($error-complement);
  }
  
  .success {
    @include btn($error-light);
  }
  
  .warning {
    @include btn($error-dark);
  }
  