/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $btn-main;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    transition: ease-in;
    transition-duration: .5s;
    @include mq($break-m){
      padding: 10px 30px;
    }
    +.btn {
      @include mq($break-m){
        margin-left: 10px; 
      }
    }
}

  
.default {
  @include btn($btndef);
}

.error {
  @include btn($btnerr);
}

.info {
  @include btn($btninfo);
}

.success {
  @include btn($btnsuc);
}

.warning {
  @include btn($btnwar);
}
