/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $btn-main;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    background-color: $secondary;
  }
  
  .error {
    background-color: $error;
  }
  
  .info {
    background-color: $error-complement;
  }
  
  .success {
    background-color: $error-light;
  }
  
  .warning {
    background-color: $error-dark;
  }
  